{% extends 'rest_framework/base.html' %}
{% load i18n bootstrap3 %}
{% block title %}{{ df_project_name }} {% endblock %}

{% block body %}
    <body class="{% block bodyclass %}{% endblock %}">

    <div class="wrapper" style="min-height: 180px;">

        {% block navbar %}
            <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="container">
          <span>
            {% block branding %}
                <a class='navbar-brand' rel="nofollow" href='{% url 'penatesserver.views.index' %}'>{{ df_project_name }}</a>
            {% endblock %}
          </span>
                    <span class="nav navbar-nav pull-right">{{ df_user }}</span>
                </div>
            </div>
        {% endblock %}

    </div>
    <div class="container">    {% block messages %}
        <div id="messages">{% bootstrap_messages %}</div>
    {% endblock messages %}
        {% block breadcrumbs %}{% endblock %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
            <hr>
            <footer></footer>
        {% endblock %}</div>
    </body>
{% endblock %}